name: CI/CD Fase 3

#Cuando se sube algo a la rama que especificamos a continuación, se ejecuta el workflow.
on:
  #Especificamos la rama donde se ejecuta a la hora de subir archivos (hacer push).
  push:
    branches: master
  #Especificamos la rama donde se ejecuta a la hora de hacer un pull request.
  pull_request:
    branches: master

#Definimos los jobs que se ejecutarán a la hora de hacer push o pull request.
jobs:
  build-and-test:
    runs-on: ubuntu-latest

    #Definimos los servicios, que en este caso es solo la base de datos.
    services:
      db:
        image: mariadb:10.6
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root123
          MYSQL_DATABASE: tallerdb
          MYSQL_USER: talleruser
          MYSQL_PASSWORD: tallerpass

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      #Definimos el JDK que vamos a usar
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      #Damos permisos de ejecución al mvnw (necesario en Linux)
      - name: Give execute permission to mvnw
        working-directory: taller_contenedoores
        run: chmod +x mvnw

      #Añadimos lo siguiente para que arranque la base de datos antes de ejecutar los tests.
      - name: Wait for MariaDB
        run: |
          sudo apt-get update
          sudo apt-get install -y mariadb-client
          until mysql -h 127.0.0.1 -P 3306 -u talleruser -ptallerpass -e "SELECT 1"; do
            echo "Waiting for database..."
            sleep 3
          done

      #Ejecutamos los tests.
      - name: Run Tests
        working-directory: taller_contenedoores
        env:
          SPRING_DATASOURCE_URL: jdbc:mariadb://127.0.0.1:3306/tallerdb
          SPRING_DATASOURCE_USERNAME: talleruser
          SPRING_DATASOURCE_PASSWORD: tallerpass
        run: ./mvnw clean test

      #Si los tests pasan todos correctamente, empaquetamos la aplicación y construimos la imagen 
      - name: Package application
        working-directory: taller_contenedoores
        run: ./mvnw clean package -DskipTests

      #Construimos la imagen de docker utilizando el dockerfile
      - name: Build Docker image
        working-directory: taller_contenedoores
        run: docker build -t taller-app .
